* {
	-fx-darkest-grey-color:  #ff7000;
}

.check-box .box {
	-fx-background-color:  #151D3B;
	-fx-border-color:  #151D3B;
	-fx-border-radius: 0; 
}
.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 
1.73,9.91";
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:selected .box {
	-fx-background-color: -fx-darkest-grey-color;
}
