.list-view .list-cell:odd,
.list-view .list-cell:even {
    -fx-background-color: #112;
    -fx-text-fill: #eee;
}


.list-view .list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}
